# Core functionality - changes here should be rare!
/src/app.py                   @BHARGAV-CHINTAPATLA
/src/backend/database.py      @BHARGAV-CHINTAPATLA
/src/backend/routers/auth.py  @BHARGAV-CHINTAPATLA

# The frontend will need refactored soon to be more object oriented.
/src/static/   @BHARGAV-CHINTAPATLA
